<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/styles2.css">
    <script defer src="/scripts/menu.js"></script>
    <script defer src="/scripts/acordeon.js"></script>
    <title>Proyectos Personales</title>
</head>
<body>
    <header><nav>
        <div class="hamburger" onclick="toggleMenu()">
            &#9776; <!-- Icono de hamburguesa -->
        </div>
        <ul id="nav-menu">
            <center>
                <b><li><a href="/index.html" target="_blank">Biografía</a></li></b>
                <b><li><a href="proyectos.html" target="_blank">Proyectos</a></li></b>
                <b><li><a href="contacto.html" target="_blank">Contáctame</a></li></b>                
            </center>
        </ul>
    </nav>     
    </header>    
    <main class="main-container">
        
        <section class="side-bar">
            <center><h2>Proyectos Wordpress</h2></center>
            <img src="/Assets/images/benhur-servicios LP-1400.png" alt="designer" class="clas-imag"> 
            <button class="button">Ir a landing page</button>
        </section> <!-- i am side bar*/ <! -->
        <div class="container-parts-cv">
            <section class="section">
                <h2 id="principal">Landing page</h2>
                <p class="p">Diseño de Landing Page para todo tipo de servicios, venta de productos, reconocimiento de marca, productos físicos y digitales 
                    
                </p>
            </section> <!-- seccion 1 <! -->
            <section class="section">
                <h2 id="secundario">Diseño web</h2>
                <p class="p2">
                    Diseño web, página principal + contacto y quienes somos, páginas adicionales a la medida de acuerdo a la solicitud. <br>Servicio de Ecommerce, con pasarela de pago.
                </p>
            </section> <!-- seccion 2 <! -->
            <section class="section">
                <h2 id="terciario">Tecnologías</h2>
                <p class="p3">
                    Gestores de contenido tales como Wordpress + contructores tales como Elementor o Divi.
                    <br>Lenguajes de desarrollo tales como: javascript - Python - Type Scrit.
                    <br>Gestores de almacenamiento tales como: Git - GitHub
                    <br>Gestores de bases de datos tales como: Postgress - MySql - María DB
                </p>
            </section> <!-- seccion 3 <! -->
        </div>
    </main>
    <footer>
        <b><center><p id="parrafo-footer">&copy; <span id="current-year"></span> Deyson B. Marín J. Todos los derechos reservados.</p></center></b>
    </footer>
    <!--<script src="script.js"></script>   <! --> 
</body>
</html>
