* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    color: black; /*Establece el color del texto, el relleno, la alineación del texto, el margen */
    padding: 5px;
    text-align: center;
    margin: 20px;
    text-shadow: -5px -5px 10px #9eb1d6; /* -5px(izquierda) -5px(derecha) 10px(%de sombra en el texto) */        
}
/* Estilos para la barra de navegación */
nav {
    background-color: #222;
    color: cyan;
    padding: 15px 0;
    position: fixed;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    width: 100%;
    top: 0; /*rellena el fondo en la parte de arriba*/
    left: 0;
    box-sizing: border-box; /* Opcional para incluir el relleno y el borde en el ancho */ 
    overflow-y: auto; /* Permite desplazamiento vertical si es necesario */    
}

#nav-menu li {
    margin: 5px 0; /* Espacio entre los elementos de la lista */     
}

#nav-menu a {
    text-decoration: none; /* Quitar subrayado */
    font-size: 1rem; /* Tamaño de letra más pequeño */ 
    color: white; /* Color del texto */
}

/* Estilos para el menú de navegación */
#nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column; /* Cambiar dirección por defecto a columna */
    align-items: center; /* Centrar los elementos */           
}

/* Estilos para el ícono de hamburguesa */
.hamburger {
    display: none; /* Oculto por defecto */
    cursor: pointer;
    font-size: 1.5rem;    
}

/* Mostrar el menú cuando se activa */
#nav-menu.active {
    display: flex;
}

#segundo_titulo {
    font-size: 1.3rem;
}

#tercer_titulo {
    font-size: 1.3rem;
}

ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el padding del ul */
    margin: 0; /* Elimina el margen del ul */
}

li {
    display: inline; /* Hace que los li sean elementos en línea */
}

a {   
    margin-right: 15px; /* Añade espacio entre los enlaces */
}

h2 {
    margin-bottom: 1rem;
}

.button { 
    margin-top: -10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 2rem;
    background-color: #0048ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    color: #fdfefe;
    text-align: center;
    padding: 15px;
}

h2 {
    text-align: center; 
    padding: 0.5rem; 
    background-color: skyblue;   
}

.p, .p2, .p3 {
    background-color: skyblue;
    margin-left: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    background-color: #316afc;
    display: grid;    
    grid-template-columns: 25% 75%;
    grid-template-rows: 3, 3fr;
    grid-template-areas: 
        "sidebar section"
        "sidebar section"
        "sidebar section";
    flex: 1;/*, significa que tomará todo el espacio restante disponible entre el header y el footer.*/
    
}

.main-container > .side-bar {
    background-color: #fff;
    grid-area: sidebar;  
}

.main-container > .container-parts-cv {
    background-color: #adadfa;
    grid-area: section;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.container-parts-cv > section {
    background-color: #7fd0eb;
    border: solid 3px #555751;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px; /* Altura del pie de página */
    padding: 1rem;
}

#parrafo-footer {
    padding-top: 0px;
}

.side-bar h2 {
    background-color: #fff;
    margin-top: 1rem;
}

.clas-imag {
    width: 160px;
    height: 600px;
    border-radius: 0;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: inset(0 0 30% 0);
    border: 4px solid green;
}

.navbar-social-networks {
    width: 100%;       
}

.navbar-social-networks > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.navbar-social-networks > ul {
    list-style: none;
    
}

.bx {
    font-size: 3rem;
    color: #7ca0fb;
}


@media screen and (max-width: 420px) {
    .main-container {
        height: 65rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }              
}

/* Ocultar el menú en dispositivos móviles por defecto */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    #nav-menu {
        display: none; /* Mantener oculto hasta que se haga clic en el ícono */
    }
}





